body {
    padding: 0 20px;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.card {
    height: 350px;
    width: 250px;
    padding: 20px;
    background-color: AABBCC;
    margin-top: 20px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card__img {
    height: 200px;
}

.card__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.star_rating {
    background-color: lightgreen;
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cousines {
    widows: 2;
    orphans: 2;
    word-break: break-all;
}

a {
    text-decoration: none;
    color: black;
}